<header class="questionnaire-header page-header">
  <h1 id="questionnaireTitle">Questionnaire</h1>
  <nav aria-label="primary navigation" class="primary-nav">
    <a [routerLink]="['']" title="HOME">
      Go back Home
    </a>
  </nav>
</header>
<section class="questionnaire-wrapper" aria-label="Questionnaire form">
  <input type="checkbox" id="hints-checkbox" class="hints-checkbox">
  <label for="hints-checkbox" class="hints-toggle" aria-label="toggle hints">
    SHOW HINT
  </label>
  <!-- <genk-fetch>
    <genk-questionnaire></genk-questionnaire>
  </genk-fetch> -->
  <app-form [slideNumber]="slideNumber" (prevEvent)="goToPrevSlide()" (answerChecked)="goToNextSlide()"
    (submitEvent)="storeResults($event)"></app-form>
  <aside id="#hints" class="hints">
    <genk-interactive-carousel #carousel *ngIf="myAnimations" [animations]="myAnimations" class="hints__carousel"
      [attr.slideIndex]="slideNumber">
      <article *ngFor="let question of questions; let i = index" [id]="'hint-'+ question._id + '-' + i" class="hint">
        <img class="hint__img" loading="lazy" [src]="question.hint.image" [alt]="question.hint.alt">
        <header class="hint__header">
          <h2 class="hint__title">Did you know?</h2>
        </header>
        <p class="hint__content">{{question.hint.text}}</p>
        <footer class="hint__footer">
          <a [href]="question.hint.link" target="_blank" class="learn-more">Learn more</a>
        </footer>
      </article>
    </genk-interactive-carousel>
  </aside>
</section>