/*----- Clases reutilizables -----*/

.text-center {
    text-align: center;
}

/*---------- HEADERS ----------*/
.page-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 0 2rem;
}

/*---------- BUTTONS ----------*/
.learn-more {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1.5em;
}

.learn-more:focus-visible {
    outline-offset: 5px;
    outline: 2px dashed;
}

/*---------- LINKS ----------*/
a {
    color: var(--clr-primary-300);
}

a:hover {
    color: var(--clr-primary-400);
}

/*---------- FLEX ----------*/
.grid {
    display: grid;
    gap: 1.5rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    gap: 1.5rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2.5rem;
}

.gap-3 {
    gap: 3.5rem;
}

:root {
    --columns: 12;
}

.col-auto {
    flex: 1 0 0%;
}

.col-1 {
    flex: 0 0 calc(100% / calc(var(--columns) / 1))
}

.col-2 {
    flex: 0 0 calc(100% / calc(var(--columns) / 2))
}

.col-3 {
    flex: 0 0 calc(100% / calc(var(--columns) / 3))
}

.col-4 {
    flex: 0 0 calc(100% / calc(var(--columns) / 4))
}

.col-5 {
    flex: 0 0 calc(100% / calc(var(--columns) / 5))
}

.col-6 {
    flex: 0 0 calc(100% / calc(var(--columns) / 6))
}

.col-7 {
    flex: 0 0 calc(100% / calc(var(--columns) / 7))
}

.col-8 {
    flex: 0 0 calc(100% / calc(var(--columns) / 8))
}

.col-9 {
    flex: 0 0 calc(100% / calc(var(--columns) / 9))
}

.col-10 {
    flex: 0 0 calc(100% / calc(var(--columns) / 10))
}

.col-11 {
    flex: 0 0 calc(100% / calc(var(--columns) / 11))
}

.col-12 {
    flex: 0 0 calc(100% / calc(var(--columns) / 12))
}

/*---------- FONT SIZE ----------*/
.size-700 {
    font-size: var(--fs-700);
    line-height: 1;
}

.size-600 {
    font-size: var(--fs-600);
    line-height: 1.1;
}

.size-500 {
    font-size: var(--fs-500);
    line-height: 1.4;
}

.size-400 {
    font-size: var(--fs-400);
}

/*---------- PADDING AND MARGINS ----------*/
.p-in-2 {
    padding-inline: 1.5rem;
}