:root {
    /*========== Breakpoints ==========*/
    --bp-small: 768px;
    --bp-medium: 992px;
    --bp-large: 1200px;

    /*========== Body & Text Styles ==========*/
    --normal-fs: var(--fs-300);
    --text-color: var(--clr-dark-500);

    /*========== Titles Styles ==========*/
    --title-color: var(--clr-primary-500);
}