:host {
  position: relative;
  width: 158px;
  aspect-ratio: 1;
}

.outer {
  display: grid;
  place-items: center;
  background-color: white;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.outer, .inner {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.inner {
  display: grid;
  place-items: center;
  width: 80%;
  background-color: var(--charts--bg-color);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05)
}

.badge {
  font-size: 1.5em;
}

.badge, .label {
  font-weight: 600;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
}

.label {
  text-align: center;
  font-size: 1.3em;
  margin: 0;
  margin-top: 0.75em;
}

circle {
  fill: none;
  stroke-width: 16px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}