<div class="outer">
  <div class="inner">
    <p class="badge" [style.color]="chart.color">{{counter}}%</p>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" role="img"
  aria-labelledby="categoryTitle categoryDesc">
  <title id="categoryTitle">Pie chart for category contribution</title>
  <desc id="categoryDesc">An animated pie chart describing the contribution to carbon footprint for category category
  </desc>
  <circle #circle cx="80" cy="80" r="70" stroke-linecap="round" [style.stroke]="chart.color" />
</svg>
<p class="label" [style.color]="chart.color">{{chart.category}}</p>