<genk-step-progress-bar #progressBar *ngIf="questions" [steps]="questions" [attr.activeStep]="stepNumber"
  class="progress-bar">
</genk-step-progress-bar>
<form id="questionnaire" class="questionnaire">
  <genk-interactive-carousel #carousel *ngIf="myAnimations" [animations]="myAnimations" class="questionnaire__carousel"
    [attr.slideIndex]="slideNumber">
    <fieldset *ngFor="let question of questions" [id]="question._id" class="questionnaire__fieldset">
      <legend class="fieldset__legend size-600">{{question.title.en}}</legend>
      <label *ngFor="let answer of question.answers; let i = index" class="fieldset__answer"
        [for]="question._id + '-' + i">
        <input type="radio" [name]="question._id" [id]="question._id + '-' + i" [value]="question._id + '-' + i"
          (click)="checkAnswer($event)">
        <span>{{answer.text}}</span>
      </label>
    </fieldset>
  </genk-interactive-carousel>
  <nav aria-label="Questionnaire Navigation">
    <button #prevSlideBtn class="slide-button" type="button" (click)="goToPrevSlide()">
      Previous question
    </button>
  </nav>
</form>