<header class="results-header page-header">
  <div>
    <h1 class="results-header__title">Results</h1>
    <div class="logo">
      <div class="logo__building">
        <div class="building__window"></div>
        <div class="building__window"></div>
        <div class="building__chimney"></div>
        <div class="building__smokes">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="primary navigation" class="primary-nav">
    <a [routerLink]="['']" title="HOME">
      Go back Home
    </a>
  </nav>
</header>

<section class="results-section" aria-label="Questionnaire results">
  <header class="results-ui__header">
    <p class="size-400">
      <span>Your Carbon Footprint is:</span>
      <br>
      <span id="footprint" class="co2Footprint">{{co2}} Tonnes</span>
      <br>
      CO2 is one of the most important greenhouse gases. Trees extract CO2 from the air and convert it into oxygen and
      plant material through photosynthesis. Photosynthesis is the process by which plants convert water and carbon
      dioxide into glucose (C6H12O6) and oxygen using sunlight.
      <br>
      <br>
      It can be concluded that an average of <span class="treesFootprint">🌲 {{co2 | trees}} 🌲</span> trees are needed
      to compensate your annual carbon footprint.
    </p>
  </header>
  <div class="results-ui__charts">
    <h2>Contributions to your carbon footprint</h2>
    <app-chart *ngFor="let chart of charts" [chart]="chart"></app-chart>
  </div>
  <nav class="results-ui__navigation" aria-label="secondary navigation">
    <a title="Take questionnaire again" [routerLink]="['questionnaire']">Retake Questionnaire</a>
  </nav>
</section>