:host {
  display: flex;
  flex-direction: column;
}

.results-header > div:first-child {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.results-header > nav {
  order: -1;
}

.results-header__title {
  display: inline;
}

.results-section {
  position: relative;
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;

  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-primary-100);
}

.co2Footprint {
  text-align: center;
  display: inline-block;
  color: red;
  font-size: clamp(2.4em, 5vw, 3em);
  font-weight: 800;
  font-family: var(--title-font);
  margin: 0.4em 1em;
}

.treesFootprint {
  color: red;
  font-size: 1.8em;
  font-weight: 600;
  font-family: var(--title-font);
  margin: 0;
}

.results-ui__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-inline: 1rem;
  margin-right: auto;
  min-width: 514px;
}

.results-ui__header span:first-child {
  font-size: 1.4rem
}

.results-ui__charts {
  --charts--bg-color: var(--clr-dark-100);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr;
  place-items: center;
  gap: 1.5rem;
  flex: 0.8;
  max-height: 570px;
  padding: 2rem;

  border-radius: 0.5rem;
  background-color: var(--charts--bg-color);
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.1);
}

.results-ui__charts > h2 {
  grid-column: 1 / span 2;
  font-size: 1.6rem;
}

.results-ui__navigation {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.results-ui__navigation > a {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--clr-secondary-300);
  transition: color 0.3s ease-out;
}

.results-ui__navigation > a:hover {
  color: var(--clr-secondary-400);
}

.results-ui__navigation > a:focus-visible {
  outline-offset: 5px;
  outline-width: 3px;
  outline-style: dashed;
}

@media only screen and (max-width: 1037.9px) {
  .co2Footprint {
    width: 100%;
    text-align: center;
    margin-inline: 0;
  }

  .results-ui__charts {
    margin-inline: auto;
    margin-bottom: 5rem;
  }

  .results-ui__navigation {
    width: 100%;
    text-align: center;
    left: 0
  }

  .results-ui__header {
    min-width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .results-ui__charts {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    max-height: fit-content;
    flex: 1;
    padding-inline: 1rem;
  }

  .results-ui__charts > h2 {
    grid-column: auto;
  }
}

/* ===== Logo ===== */
.logo {
  --logo-size: 2.5rem;
  --logo-clr: var(--clr-primary-500)
}

.logo__building {
  position: relative;
  width: var(--logo-size);
  aspect-ratio: 2 / 1;
  border-radius: calc(var(--logo-size) / 33);
  border-start-start-radius: 0;
  background-color: var(--logo-clr);
  color: var(--logo-clr);
}

.logo__building::before,
.logo__building::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  border-color: inherit;
  border-bottom: calc(var(--logo-size) / 5.5) solid;
  border-left: calc(var(--logo-size) / 3.47) solid transparent;
}

.logo__building::after {
  transform: translate(100%, -100%);
}

.building__window {
  position: absolute;
  bottom: calc(var(--logo-size) / 8.25);
  left: calc(var(--logo-size) / 8.25);
  width: calc(var(--logo-size) / 8.25);
  height: calc(var(--logo-size) / 6.6);
  background-color: white;
}

.building__window::before {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: inherit;
}

.building__window:nth-child(2) {
  left: calc(var(--logo-size) / 2.87);
}

.building__chimney {
  position: absolute;
  bottom: 100%;
  right: calc(var(--logo-size) / 22);
  width: calc(var(--logo-size) / 3);
  height: calc(var(--logo-size) / 2.2);

  border-color: inherit;
  border-left: calc(var(--logo-size) / 13.2) solid transparent;
  border-right: calc(var(--logo-size) / 13.2) solid transparent;
  border-bottom: calc(var(--logo-size) / 1.65) solid;
}

.building__smokes {
  position: absolute;
  top: calc(-1 * calc(var(--logo-size) / 1.65));
  right: calc(var(--logo-size) / 4.89);
  transform: translate(-50%, -50%);
}

.building__smokes > div {
  position: absolute;
  top: calc(-1 * calc(var(--logo-size) / 16.5));
  left: calc(-1 * calc(var(--logo-size) / 16.5));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--logo-clr);
}

.building__smokes > div:nth-child(even) {
  animation: smokeEven 2.8s linear infinite;
}

.building__smokes > div:nth-child(odd) {
  animation: smokeOdd 2.8s linear infinite;
}

@keyframes smokeEven {
  0% {
    width: calc(var(--logo-size) / 8.25);
    transform: translate(0, 0) scale(1);
    filter: blur(calc(var(--logo-size) / 33));
    opacity: 1;
  }

  100% {
    width: calc(var(--logo-size) / 4.4);
    transform: translate(calc(var(--logo-size) / 3.3), calc(-1 * calc(var(--logo-size) / 0.66))) scale(3);
    filter: blur(calc(var(--logo-size) / 13.2));
    opacity: 0;
  }
}

@keyframes smokeOdd {
  0% {
    width: calc(var(--logo-size) / 8.25);
    transform: translate(0, 0) scale(1);
    filter: blur(calc(var(--logo-size) / 33));
    opacity: 1;
  }

  100% {
    width: calc(var(--logo-size) / 4.4);
    transform: translate(calc(-1 * calc(var(--logo-size) / 3.3)), calc(-1 * calc(var(--logo-size) / 0.66))) scale(3);
    filter: blur(calc(var(--logo-size) / 13.2));
    opacity: 0;
  }
}

.building__smokes > div:nth-child(1) {
  animation-delay: 0s
}

.building__smokes > div:nth-child(2) {
  animation-delay: 0.4s
}

.building__smokes > div:nth-child(3) {
  animation-delay: 0.8s
}

.building__smokes > div:nth-child(4) {
  animation-delay: 1.2s
}

.building__smokes > div:nth-child(5) {
  animation-delay: 1.6s
}

.building__smokes > div:nth-child(6) {
  animation-delay: 2s
}

.building__smokes > div:nth-child(7) {
  animation-delay: 2.4s
}

.building__smokes > div:nth-child(8) {
  animation-delay: 2.8s
}