article, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  aspect-ratio: 0.75 / 1;
  padding: 3rem 2rem 1rem;
  border-radius: 10px;
  background-color: var(--clr-dark-100);
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.15s ease-out;
}

.card:hover {
  box-shadow: 0px -4px 20px 2px rgba(0, 0, 0, 0.12);
}

.card__img {
  order: -1;
  width: 120px;
  height: 120px;
  margin: 1em auto;
}

.card__header {
  margin: 1.5rem 0 0.75rem 0;
}

.card__title {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--clr-primary-400)
}

.card__description {
  color: var(--clr-dark-400);
  font-size: 0.9em;
  text-align: start;
}