<article class="card">
  <header class="card__header">
    <h3 name="title" class="card__title">{{card.title}}</h3>
  </header>
  <figure class="card__img">
    <img [src]="card.image" [alt]="card.imgAlt" name="image">
  </figure>
  <p name="description" class="card__description">{{card.description}}</p>
</article>