<header role="banner" class="home-banner">
  <h1 class="home-banner__title">Earth Loves You,<br>Love it Back</h1>
  <p class="home-banner__text">Wanna know your <em>Carbon Footprint</em> per year? Carbon emissions from your
    lifestyle choices, from traveling to buy new clothes, impact the climate. This is a global problem, but <em>You
      can be a part of the solution!</em></p>
  <nav aria-label="primary navigation" class="home-banner__nav">
    <!-- <a href="/questionnaire" title="QUESTIONNAIRE" class="btn-cta">${(!results && results !== 0) ? 'Take' : 'Retake'} questionnaire</a>
      ${(!results && results !== 0) ? '' : '<a href="/results" title="RESULTS" class="btn-view-results">View Results</a>'} -->
    <a [routerLink]="['questionnaire']" title="QUESTIONNAIRE" class="btn-cta">Take questionnaire</a>
    <a [routerLink]="['results']" title="RESULTS" class="btn-view-results" [hidden]="!hasResults">View Results</a>
  </nav>
  <div class="home-banner__scroll">
    <p>SCROLL</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
    </svg>
  </div>
</header>

<section id="reason" class="home-section grid-section" aria-label="Environmental problems">
  <div class="grid-section__content">
    <header>
      <h2 id="homeTitle1" class="size-700">Why is it so important?</h2>
    </header>
    <p>The Planet Earth is in crisis - from climate change to the pollution in our oceans and devastation of our
      forests. <em>It's up to all of us to fix it</em>. Take your first step with our environmental footprint
      calculator.
      <br>
      <br>
      We're all concerned about climate change, but when it looks like a problem for future generations, you ask
      yourself, 'will climate change even affect me?' No matter what you care about, climate change is already
      affecting our world today.
      <br>
      <a href="https://www.wwf.org.uk/updates/10-reasons-why-climate-change-important" target="_blank"
        class="learn-more">Learn more</a>
    </p>
  </div>
  <div class="home-grid">
    <img loading="lazy" src="assets/images/negative/negative1.png" title="Hole in the ozone layer"
      alt="Hole in the ozone layer" class="one">
    <img loading="lazy" src="assets/images/negative/negative4.png" title="Car fumes" alt="Car fumes" class="two">
    <img loading="lazy" src="assets/images/negative/negative3.png" title="High temperatures" alt="High temperatures"
      class="three">
    <img loading="lazy" src="assets/images/negative/negative7.png" title="Melting Earth's poles"
      alt="Melting Earth's poles" class="four">
    <img loading="lazy" src="assets/images/negative/negative5.png" title="Polution" alt="Polution" class="five">
    <img loading="lazy" src="assets/images/negative/negative6.png" title="Floods" alt="Floods" class="six">
    <img loading="lazy" src="assets/images/negative/negative2.png" title="Carbon dioxide emissions"
      alt="Carbon dioxide emissions" class="seven">
    <img loading="lazy" src="assets/images/negative/negative8.png" title="Acid rain" alt="Acid rain" class="eight">
  </div>
</section>

<section id="options" class="home-section text-center" aria-label="Actions to reduce carbon dioxide">
  <header class="p-in-2">
    <h2 id="homeTitle2" class="size-700">Okay, what can we do?</h2>
  </header>
  <div class="home-media-scroller">
    <app-home-card *ngFor="let card of homeCards" [card]="card"></app-home-card>
  </div>
</section>

<footer class="home-footer">
  <p>Handcrafted with ❤️ by <a href="https://www.linkedin.com/in/pablodevs/" target="_blank"
      title="AUTHOR">pablodevs</a></p>
</footer>