:host > .home-section {
    padding-block: 4rem;
}

.home-section header, .home-banner {
    margin-bottom: 3rem;
}

:host > .home-section:nth-child(odd) {
    background-color: var(--clr-primary-100);
}

.home-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 9rem 6rem 0 6rem;
    height: 100vh;
    font-size: clamp(1.3rem, 2.3vw, var(--fs-500));

    background-color: var(--clr-primary-100)
}

.home-banner::before {
    content: '';
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    aspect-ratio: 1;
    background-image: url('../../../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.home-banner > *:not(:last-child) {
    position: relative;
    z-index: 1;
}

.home-banner__title, .home-section h2 {
    text-shadow: 1px 1px 2px rgba(6, 95, 142, 0.319);
}

.home-banner__title {
    font-size: clamp(2.2rem, 6vw, 3.5rem);
}

.home-banner__text {
    line-height: 1.6;
    width: 33vw;
}

:host em {
    color: var(--clr-secondary-300);
    font-weight: 600;
}

.home-banner__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.home-banner__nav > a {
    width: 350px;
    text-align: center;
    color: var(--clr-secondary-300);
    font-weight: 600;
    transition: all 0.3s ease-out;
}

.home-banner__nav > a.btn-cta {
    font-size: 1.15em;
    padding: 0.5em;
    color: var(--clr-dark-100);
    background-color: var(--clr-secondary-300);
    border-radius: 100vw;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
}

.home-banner__nav > a.btn-cta:hover, .home-banner__nav > a.btn-cta:focus-visible {
    color: var(--clr-secondary-300);
    background-color: var(--clr-dark-100);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

a.btn-cta:focus-visible {
    outline-offset: 5px;
    outline: 2px dashed var(--clr-secondary-300);
}

.btn-view-results {
    font-size: 0.85em;
}

.home-section.grid-section {
    display: flex;
    gap: 5rem;
    height: 100vh;
    padding-inline: 5rem;
}

.grid-section__content {
    padding-inline: 2rem;
}

.home-grid {
    order: -1;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);
}

.grid-section__content > p {
    font-size: clamp(1.15rem, 1.5vw, 1.3rem);
}

.home-grid > * {
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: rgba(201, 1, 1, 0.346) -10px -20px 60px -12px inset,
        rgba(70, 28, 28, 0.3) -5px -18px 36px -18px inset;
    transition: transform 0.1s ease-in;
}

.home-grid > *:hover {
    transform: scale(1.1);
}

.one {
    grid-column: 5 / 7;
}

.two {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

.three {
    grid-column: 3 / 7;
    grid-row: 3 / 7;
}

.four {
    grid-column: 7 / 12;
    grid-row: 2 / 7;
}

.five {
    grid-column: 2 / 7;
    grid-row: 7 / 12;
}

.six {
    grid-column: 7 / 11;
    grid-row: 7 / 11;
}

.seven {
    grid-column: 11 / 13;
    grid-row: 7 / 9;
}

.eight {
    grid-column: 7 / 9;
    grid-row: 11 / 13;
}

.home-footer {
    text-align: center;
    padding-block: 3rem;
    color: var(--clr-dark-100);
    background-color: var(--clr-dark-500);
}

.home-banner__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    padding-block: 1rem;
    color: var(--clr-primary-400);

    overflow: hidden;
}

.home-banner__scroll p {
    font-size: 0.9rem;
}

.home-banner__scroll path {
    fill: var(--clr-primary-400);
}

.home-banner__scroll svg {
    animation: iconScroll 1.5s 0s infinite normal cubic-bezier(.645, .045, .355, 1) both;
    opacity: 1;
    transform: translateY(20px);
}

@keyframes iconScroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
        opacity: 0;
    }

    51% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-media-scroller {
    display: grid;
    grid-auto-flow: column;
    gap: 3.5rem;
    margin-inline: 2rem;
    padding-block: 1.5rem;

    scroll-snap-type: inline mandatory;

    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home-media-scroller::-webkit-scrollbar {
    display: none;
}

.home-media-scroller > * {
    scroll-snap-align: start;
}

@media only screen and (max-width: 1160px) {
    .home-section.grid-section {
        padding-inline: 1.5rem;
    }

    .grid-section__content {
        padding-inline: 0;
    }

    .home-section.grid-section {
        gap: 2.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .home-banner {
        padding: 5rem;
        padding-bottom: 7rem;
    }

    .home-banner__nav {
        margin-top: 2rem;
    }

    .home-section.grid-section {
        flex-direction: column;
    }

    .home-section header, .home-banner {
        margin-bottom: 1.5rem;
    }

    genk-home-page > .home-section {
        padding-block: 2rem;
    }

    .home-grid {
        order: 0;
        grid-template-columns: repeat(12, 20px);
        grid-template-rows: repeat(12, 20px);
        margin-inline: auto;
    }

    .home-grid > * {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .home-banner::before {
        width: 35%;
        top: 40%;
    }

    .home-banner__text {
        width: 40vw;
    }

    .home-banner__nav {
        align-items: center;
        margin-top: auto;
    }

    .home-grid {
        grid-template-columns: repeat(12, 15px);
        grid-template-rows: repeat(12, 15px);
    }
}

@media only screen and (max-width: 570px) {
    .home-banner {
        padding: 4rem 1.3rem 8rem 1.3rem;
    }

    .home-banner::before {
        transform: translateX(-50%);
        top: 48%;
        width: 50%;
        left: 50%
    }

    .home-banner__text {
        width: 100%;
    }

    .home-section.grid-section {
        height: auto;
    }
}