/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

/*========== RESET/NORMALIZE ==========*/
@import './app/styles/base/reset.css';

/*========== FUENTES Y TIPOGRAFÍA ==========*/
@import './app/styles/base/fonts.css';

/*========== COLORES ==========*/
@import './app/styles/base/colors.css';

/*========== VARIABLES CSS ==========*/
@import './app/styles/utils/variables.css';

/*========== ESTILOS REUTILIZABLES ==========*/
@import './app/styles/utils/helpers.css';

/*========== MAIN STYLES ==========*/
body {
    font-size: var(--normal-fs);
    font-family: var(--body-font, sans-serif);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);

    display: flex;
    flex-direction: column;
}

/*========== MAIN OUTLET ==========*/
body > *:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*========== FONTS ==========*/
h1, h2, h3, h4 {
    font-family: var(--title-font);
    font-weight: 600;
    color: var(--title-color);
    line-height: 1;
}

h1 {
    font-size: var(--fs-700);
}

h2 {
    font-size: var(--fs-600);
}

h3 {
    font-size: var(--fs-500);
}

h4 {
    font-size: var(--fs-400);
}

/*========== PRIMARY NAVIGATION ==========*/
.primary-nav > a {
    font-size: 1.25rem;
    color: var(--clr-dark-400);
}

.primary-nav > a::before {
    content: '\2190';
    display: inline-block;
    margin-inline-end: 0.1em;
    transition: transform 0.2s ease;
}

.primary-nav > a:hover, .primary-nav > a:focus-visible {
    color: var(--clr-dark-300);
}

.primary-nav > a:focus-visible {
    outline-offset: 5px;
    outline-width: 3px;
    outline-style: dashed;
}

.primary-nav > a:hover::before {
    transform: translateX(-0.25em);
}